{% load staticfiles %}
<!doctype html>
<html class="no-js"> 
    <head>
	<meta charset="utf-8">
    <title>Sistema Virtual </title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/normalize.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
	<script src="{{STATIC_URL}}js/jquery.js"></script>
	<script src="{{STATIC_URL}}js/main2.js"></script>
	<script src="{{STATIC_URL}}js/plugins.js"></script>
    <link rel="icon"  href="./imagenes/favicon.ico" />
   <meta http-equiv="Refresh" content=".001;url=/admin/">
    <meta name="description" content="">
    

    </head>



<body>


<header>
		
	
	 

</div>


</header>



        <footer>
    marko hernandez design
	</footer>
	  
     

</body>



</html>